.cafe__header {
    margin-bottom: 60px;
  
  }
  
  .cafe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 65px 0;
  }
  
  .cafe__map {
   width: 387px;
    height: 200px;
  }
  
  
  .cafe__outer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .cafe__logo {
    max-width: 33.333%;
    
  }