@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');
@import url('https://unpkg.com/swiper@7/swiper-bundle.min.css');

/* INDEX.HTML
=====================*/

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #a8a8a7;
  letter-spacing: .25px;


}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  color: #a8a8a7;
  text-align: center;

}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #404041;
  text-align: left;

}


/* REGISTRATION.HTML
=====================*/

.reg__title {
  text-align: left;
  margin: 0 auto;
  padding-top: 30px;
  
  
}

/* MEDIA    1080px
=====================*/

@media (max-width: 1080px) {
  .cafe__map {
      width: 300px;

  }

  .btn__order {
      margin: 0;
  }

  .cafe__outer img {
      width: 45%
  }

}

/* MEDIA    950px
=====================*/

@media (max-width: 950px) {
  .container {
      padding: 0 25px
  }

  .about__title {
      margin-top: 35px;
      margin-bottom: 17px;
  }

  .about__subtitle {
      margin-bottom: 35px;
  }

  .slider {
      margin-bottom: 45px;
  }

  .offer__cafe {
      width: 45%;

  }

  .footer__contacts {
      font-size: 14px;
  }

  .footer__logos {
      margin: 15px 0;
  }

  .cafe__header {
      margin-bottom: 45px;
  }

  .cafe__inner {
      justify-content: space-around;
      margin: 45px 0;

  }

  .cafe__logo {
      max-width: 50%;
      max-height: 200px;
      order: -1;

  }

  .cafe__map {
      width: 300px;
  }

  .btn__order {
      margin: 25px 0 0 0;
  }

  .cafe__outer img {
      width: 49%;
  }

  .modal__content {
      width: 400px;
      max-width: 50%;
  }

  .modal__header {
      padding: 20px;
              
  }
  
  .modal__close {
      font-size: 40px;
  }
  .modal__title {
      font-size: 18px;
  }

  .modal__form {
      
      padding-left: 30px;
      padding-right: 30px;
  }

  .modal__form .form__label {
      font-size: 16px;
      margin-top: 20px;  
  } 
  
  .modal__form .form__name {
     height: 30px 
  } 
  .login__img {
      margin: 0 auto 10px auto;
  
  }
  .login__img:last-child {
      
      margin-bottom: 20px;
  }
  .login__img img {
      height: 45px;
      width: 225px;   
  }
  
  
  .modal__link {
      padding-top: 15px;
      font-size: 14px;
  }
  
  .modal__buttons {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
  }

  .modal__buttons .btn {
      font-size: 16px;
      padding: 10px 14px;
      border-radius: 17px;
  }

  .btn__pay {
      padding: 10px 10px;
      font-size: 16px;
      
  }

}

/* MEDIA    680px
=====================*/


@media (max-width: 680px) {
  body {
      font-size: 12px;
  }

  .container {
      padding: 0 10px;
  }

  h1 {
      font-size: 20px;
  }

  h2 {
      font-size: 14px;
  }

  .foodclicker {
      margin: 15px auto;
  }

  .foodclicker img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .bar {
      height: 6px;
      width: 20px;
      margin: 6px;
  }

  .slider {
      height: 230px;
      margin-bottom: 25px;
  }

  .navigation {
      bottom: 2px;
  }

  .btn {
      font-size: 14px;
      padding: 10px 15px;
      margin: 0 auto;
      
  }
  
  .btn__reg {
      margin: 15px auto;
  }

  .offer__title {
      margin-bottom: 25px;
  }

  .about__subtitle {
      font-size: 16px;
  }

  .header__inner {
      flex-direction: column;
      margin-bottom: 15px;
  }

  .header__links {
      display: none;
  }

  .offer__cafe {
      width: 90%;
      margin-bottom: 20px;
  }

  .offer__inner {
      justify-content: center;
  }

  .offer__link {
      height: 200px;
  }


  .offer__name {
      margin: 15px 0 5px 0;
  }

  .form__title {
      margin-top: 25px;
  }

  .form__subtitle {
      font-size: 14px;
  }

  .form__label {
      margin-top: 15px;
  }

  .footer__inner {
      align-items: center;
      flex-direction: column;
  }

  .footer__logos {
      margin: 0;
  }

  .fc__logo {
      order: -2;
  }

  .btn__send {
      margin: 25px auto;
  }

  .cafe__header {
      margin-bottom: 25px;
  }

  .cafe__inner {
      flex-direction: column;
      justify-content: center;

      margin: 25px 0;

  }

  .cafe__logo {
      max-width: 300px;
      max-height: 130px;
      order: -1;
      margin-bottom: 15px;

  }

  .btn__call {
      width: 30px;
      height: 30px;
      margin: 0;
  }

  .cafe__map {
      height: 130px;
      width: 90%;
  }

  .btn__order {
      width: 170px;
      margin: 25px 0 0 0;

  }

  .cafe__outer img {
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 90%;
  }


  .modal__content {
      width: 300px;
      max-width: 70%;
  }

  .modal__header {
      padding: 10px;
              
  }
  
  .modal__close {
      font-size: 30px;
  }
  .modal__title {
      font-size: 16px;
  }


  
  .modal__form {
      
      padding-left: 20px;
      padding-right: 20px;
  }

  .modal__form .form__label {
      font-size: 14px;
      margin-top: 10px;  
  } 
  
  .modal__form .form__name {
     border-radius: 8px; 
     height: 25px 
  } 
  .login__img {
      margin: 0 auto 10px auto;
  
  }
  .login__img:last-child {
      
      margin-bottom: 10px;
  }
  .login__img img {
      height: 30px;
      width: 150px;   
  }
  
  
  .modal__link {
      padding-top: 10px;
      font-size: 12px;
  }
  
  .modal__buttons {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
  }

  .modal__buttons .btn {
      font-size: 13px;
      padding: 8px 10px;
      border-radius: 12px;
  }

}




